
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$gray: #f6f5f6;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$blue: #150f96;
$robins: #01c1d6;
$purple: #6e27c5;
$primary-grey: #696969;
$background-grey: #DCDCDC;
