
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

h1 {
  color: $primary-grey;
  padding-left: 1.4rem;
}

h2 {
  padding-top: 0.3rem;
  font-size: 15px;
  padding-left: 2rem;
  float: left;
}

p {
  float: left;
  padding-left: 0.6rem;
}

#job-type {
  font-style: italic;
  color: $primary-grey;
  padding-left: 3rem;
  margin: 0;
}

.main {
  padding: 2rem;
  width: 100%;
}

.left-section {
  float: left;
  width: 26%;
  &..default-picture {
    border: 0;
    border-radius: 50%;
    width: 60%;
    height: auto;
  }
}

.right-section {
  background-color: lighten($background-grey, 10%);
  display: flex;
  flex-flow: column;
  float: left;
  width: 60%;
  &.column {
    height: auto;
  }
}

#linkedin-icon {
  float: left;
  padding-top: 0.6rem;
  padding-left: 2rem;
}
